/* add custom styles */
p {
  padding: 2% ;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  clear: both;
}

.jumbothing {
  width: 100%;
  height: 100vh;
}

.content {
  padding-top: 50px;
}

.sub-menu {
  padding: 0 2%;
}

ul.sub-menu li {
  display: inline-block;
  text-align: center;
  width: 24.5%;
  margin: 0;
  font-size: auto;
}



